.swiper-container{
	width: 7.5rem;
	height: 11.67rem;
}
.swiper-slide img{
	width: 7.5rem;
	height: 11.67rem;
}
.anniu{
	width: 50%;
	height: 0.84rem;
	margin-left: 1.875rem;
	margin-top: .42rem;
	border: .04rem solid #e5e5e5;
	border-radius: .1rem;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background: #fff
}
.anniu a{
	font-size: .35rem;
	color: #b5b5b5;
	line-height: 0.8rem;
}